<!-- jQuery library -->
<script th:src="@{/js/jquery.min.js}"></script>

<!-- Latest compiled JavaScript for boostrap-->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>-->

<!--To modify the alert-->
<!--<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>-->
<script th:src="@{/js/sweetalert.js}"></script>


<!-- data table -->
<!--<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/datatables.min.js"></script>-->
<script th:src="@{/js/pagination.js}"></script>


<!--textarea prvider-->
<!--<script th:src="@{css/editor/minified/sceditor.min.js}"></script>
<script th:src="@{css/editor/minified/icons/monocons.js}"></script>
<script th:src="@{css/editor/minified/formats/bbcode.js}"></script>-->


<!--custom javascript-->
<script th:src="@{/js/myJs.js}"></script>

<!--front-awesome-->
<script defer th:src="@{/fontawesome/js/all.js}"></script>
<!--
<script defer th:src="@{/fontawesome/js/brands.js}"></script>
<script defer th:src="@{/fontawesome/js/solid.js}"></script>
<script defer th:src="@{/fontawesome/js/fontawesome.js}"></script>-->
